<h1>Hello, <%= @user.full_name %></h1>
<p>Someone has requested a token to change your password.</p>
<p><b>Token for change your password : <%= @user.reset_password_token %></b></p>
<p>If you didn't request this, please ignore this email.

Your password won't change until you use this token and create a new one.</p>