<h1>Welcome to example.com, <%= @user.email %></h1>
<p>
      Your account is successfully created into example.com,
      your name is: <%= @user.full_name %>.<br>
</p>
<p>Thanks for joining and have a great day!</p>