<tr>
    <th><strong>Address </strong></th>
    <td>:  <%= address.plot_no + ", " + address.society_name + ", "  + address.city.name + "-" + address.pincode  %></td>
</tr>
<tr>
    <th>State</th>
    <td>: <%= address.state.name %></td>
</tr>
<tr>
    <th>City</th>
    <td>: <%= address.city.name %></td>
</tr>