<tr>
    <th><strong>Address </strong></th>
    <td>:  <%= address.decorate.full_address  %></td>
</tr>
<tr>
    <th>State</th>
    <td>: <%= address.state.name %></td> 
</tr>
<tr>
    <th>City</th>
    <td>: <%= address.city.name %></td>
</tr>